/* #TabsToolbar { display: none !important; } */
#nav-bar { width: 100vw !important; }

/* Reduces the height of the top bar */
/* vbox#titlebar { height:25px !important; } */

/* hide the topbar */
vbox#titlebar 
{
    height:10px !important; 
    appearance: none !important;
    overflow:hidden !important;
    
    transition-delay: 1s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
vbox#titlebar toolbarbutton 
{ 
    opacity: 0 !important; 
    transition: all 0.3s ease !important; 
}
#titlebar:hover 
{ 
    height:40px !important; 
    opacity: 1; 

    transition-delay: 0ms;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
vbox#titlebar:hover toolbarbutton { opacity: 1 !important; }

#nav-bar, #PersonalToolbar { opacity:0.2; transition: all 0.3s ease !important;}
#navigator-toolbox:hover #nav-bar { opacity:1; }
#navigator-toolbox:hover #PersonalToolbar { opacity:1; }

.toolbar-items { opacity:0; pointer-events: none; }

/* =============================== */
/* Tab Center Reborn Integrations: */
/* =============================== */

#sidebar-header { display:none !important; }
#browser { position: relative; }
#sidebar-box[sidebarcommand*="tabcenter"] #sidebar-header { display: none; }
#sidebar-box[sidebarcommand*="tabcenter"]:not([hidden]) 
{
    display: block;
    position: absolute;
    top: 0; bottom: 0;
    z-index: 1;
    min-width: 50px !important; 
    max-width: 50px !important;
    border-right: none;
    transition: min-width 0.2s ease, max-width 0.2s ease;
    overflow: hidden;
}
*[BookmarksToolbarOverlapsBrowser] #sidebar-box
{
    /* Fix for Tab Center Reborn when bookmark is not visible */
    margin-top: var(--bookmarks-toolbar-overlapping-browser-height);
    padding-top: 0px !important; 
}
[sidebarcommand*="tabcenter"] #sidebar,
#sidebar-box[sidebarcommand*="tabcenter"]:hover { min-width: 10vw !important; width: 30vw !important; max-width: 250px !important; }
[sidebarcommand*="tabcenter"] #sidebar { height: 100%; max-height: 100%; }
#sidebar-box[sidebarcommand*="tabcenter"]:not([hidden]) ~ #appcontent { margin-left: 50px; }
#main-window[inFullscreen][inDOMFullscreen] #appcontent { margin-left: 0; }
/* Removes gap between active tab highlight and edge of bar */
#sidebar-box[sidebarcommand="tabcenter-reborn_ariasuni-sidebar-action"] #sidebar-header, #sidebar-box[sidebarcommand="tabcenter-reborn_ariasuni-sidebar-action"] ~ #sidebar-splitter 
{
    display: none;
}
